<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    {% load static %}
    <link rel="icon" href="{% static './img2/patient2.png' %}">
    <link rel="stylesheet" href="{% static './css/sign_in_style.css' %}">
    <link rel="stylesheet" href="{% static './css/sign_up_style.css' %}">
</head>
<body>
    <div class="block1">
        <img src="{% static './img/profile.png' %}" alt="Profile Icon">
        <h2>Login Here</h2>
        <form method="POST">
            {% csrf_token %}
            {% if error%}
            <div style="margin-top: 1rem;margin-bottom: 1rem;">
                <ul>
                    <li style="color:crimson"><strong>{{ error|escape }}</strong></li>
                </ul>
            </div>
            {% endif %}
            <p>Email</p>
            <input type="email" placeholder="Enter your email" name="username">
            {% if form.username.errors%}
            <div style="margin-top: 1rem;margin-bottom: 1rem;">
                <ul>
                    {% for error in form.username.errors %}
                        <li style="color:crimson"><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <p>Password</p>
            <input type="password" placeholder="Enter a new Password" name="password">
            {% if form.name.password1%}
            <div style="margin-top: 1rem;margin-bottom: 1rem;">
                <ul>
                    {% for error in form.password1.errors %}
                        <li style="color:crimson"><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            
            <input type="submit" value="Login">
            <br>
            <a href=" {% url 'signup' %}">New User? Create a new one.</a>
        </form>
    </div>

</body>
</html>
